div.cover-photo-holder {
    float: right;
}

div.cover-photo-holder img {
    float: right;
    width: 150px;
    height: 150px;
    margin: 5px;
}
.recipe {
    float: left;
    width: 97%;
    margin: 10px 0;
}

.data-title {
    float: left;
    font-weight: bold;
    width: 150px;
}

@media (min-width: 800px) {
    .recipe {
        width: 500px;
        margin-bottom: 10px;
        margin-right: 15px;
    }
}
