div.cover-photo-holder {
    float: right;
}

div.cover-photo-holder img {
    float: right;
    width: 150px;
    height: 150px;
    margin: 5px;
}
.recipe {
    float: left;
    width: 97%;
    margin: 10px 0;
}

@media (min-width: 800px) {
    .recipe {
        width: 500px;
        margin: 10px 10px;
    }
}
